/*
 * Copyright (c) 2020 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_6col_layout;
        // zmk,physical-layout = &foostan_corne_5col_layout;
    };
};

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <150>;
};

/ {
    behaviors {
        sqt_undr: sqt_undr {
            compatible = "zmk,behavior-mod-morph";
            label = "SQT_UNDR";
            #binding-cells = <0>;
            bindings = <&kp APOS>, <&kp MINUS>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dash_qt: dash_qt {
            compatible = "zmk,behavior-mod-morph";
            label = "DASH_QT";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp SQT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        slsh_lt: slsh_lt {
            compatible = "zmk,behavior-mod-morph";
            label = "SLSH_LT";
            #binding-cells = <0>;
            bindings = <&kp SLASH>, <&kp COMMA>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        com_qn: com_qn {
            compatible = "zmk,behavior-mod-morph";
            label = "COM_QN";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp FSLH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp GRAVE &kp B &kp L      &kp D      &kp W      &kp Z          &sqt_undr &kp F       &kp O      &kp U      &kp J    &kp BSLH
                &kp SEMI  &kp N &mt LCTL R &mt LGUI T &mt LALT S &kp G          &kp Y     &mt RALT H  &mt RGUI A &mt RCTL E &kp I    &com_qn
                &kp ESC   &kp Q &kp X      &kp M      &kp C      &kp V          &kp K     &kp P       &kp DOT    &dash_qt   &slsh_lt &kp ESC
                                           &kp TAB    &lt 1 RET  &lt 2 SPACE    &kp LSHFT &lt 1 BSPC  &kp DEL
            >;
        };

        sym_layer {
            bindings = <
                &trans &kp N7 &kp N8 &kp N9 &kp N0    &trans        &trans    &kp RPAR  &kp RBRC &kp LPAR &kp LBRC  &trans
                &trans &kp N4 &kp N5 &kp N6 &kp CARET &kp AT        &kp EQUAL &kp DLLR  &kp PLUS &kp AMPS &kp PRCNT &trans
                &to 3  &kp N1 &kp N2 &kp N3 &kp HASH  &trans        &trans    &kp ASTRK &kp RBKT &kp EXCL &kp LBKT  &to 3
                                     &trans &trans    &trans        &trans    &trans    &trans
            >;
        };

        nav_layer {
            bindings = <
                &trans &trans   &trans   &trans &trans    &trans       &trans &kp F1  &kp F2  &kp F3  &kp F4  &trans
                &trans &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans       &trans &kp F5  &kp F6  &kp F7  &kp F8  &trans
                &trans &trans   &trans   &trans &trans    &trans       &trans &kp F9  &kp F10 &kp F11 &kp F12 &trans
                                         &trans &trans    &trans       &trans &trans  &trans
            >;
        };

        media_layer {
            bindings = <
                &bootloader &sys_reset   &none        &none        &none        &none           &none &none &none &none &sys_reset &bootloader
                &bt BT_CLR  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &none &none &none &none &none      &none
                &to 0       &none        &none        &none        &none        &none           &none &none &none &none &none      &to 0
                                                      &none        &none        &none           &none &none &none
            >;
        };
    };
};
